/* Header animations and nav effects that can't be done with Bootstrap */
:global(header) {
  transform: translateY(0);
  transition: all 0.3s ease-in-out;
}

.headerHide {
  transform: translateY(-100%);
}

.navbarBrand {
  color: rgba(255, 255, 255, 0.8) !important;
  transition: all 0.3s ease-in-out;
}

.navbarBrand:hover {
  color: white !important;
}

.navLink {
  transition: all 0.3s ease-in-out;
}

.navLink::before,
.navLink::after {
  position: absolute;
  bottom: 5px;
  content: "";
  width: 0px;
  height: 2px;
  background-color: #fff;
  opacity: 0;
  transition: all 0.3s ease-in-out;
}

.navLink::before {
  left: 50%;
}

.navLink::after {
  right: 50%;
}

.navLink:hover::before,
.navLink:hover::after {
  width: 50%;
  opacity: 1;
}

.btnTopScroller {
  right: 20px;
  bottom: 60px;
  height: 20px;
  cursor: pointer;
  z-index: 9999;
  transform: translateX(0);
  transition: all 0.3s ease-in-out;
}

.btnTopScrollerHide {
  transform: translateX(200%);
}

@media only screen and (max-width: 990px) {
  .navbarCollapse {
    max-height: 200px;
    transition: max-height 0.5s ease-in;
  }

  .collapseHide:not(.show) {
    max-height: 0;
    transition: max-height 0.5s ease-out;
  }

  .navLink:hover::before,
  .navLink:hover::after {
    width: 0px;
  }
}
