.text-balance {
  text-wrap: balance;
}

.slider:hover .slide {
  animation-play-state: paused;
}

.slide {
  animation: scroll-left 10s linear infinite;
}

.slide svg {
  margin: 14px 2rem;
}

@keyframes scroll-left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
