/* Label animations that can't be done with Bootstrap */
.label {
  transition: all 0.3s ease;
}

.label:hover {
  cursor: pointer;
  opacity: 0.6;
}

.formControl:focus + .label,
.formControl:valid + .label,
input[type="email"]:not(:placeholder-shown) + .label {
  transform: translateY(-30px);
}

.formControl:focus,
.formControl:valid,
input[type="email"]:not(:placeholder-shown) {
  border-bottom: 2px solid green !important;
  transition: border-bottom 0.3s ease;
}
