---
import ProjectItem from "./ProjectItem.astro";
import { getCollection } from "astro:content";

const projects = await getCollection("projects");
const sortedProjects = projects.sort(
  (a, b) => (a.data.order || 0) - (b.data.order || 0)
);
---

<section id="projects" class="py-20 px-5 md:py-[60px] md:px-[15px] text-center">
  <h2
    class="text-4xl md:text-[2rem] font-bold uppercase mb-12 text-gray-800 relative"
    data-observe="true"
    data-trigger-once="true"
  >
    Projects
  </h2>
  <div class="max-w-7xl mx-auto" id="projectsContent">
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
      {
        sortedProjects.map((project, i) => (
          <ProjectItem data={project.data} delay={i} />
        ))
      }
    </div>
  </div>
</section>
