---
import ProjectItem from './ProjectItem.astro';
import { getCollection, type CollectionEntry } from 'astro:content';

type ProjectEntry = CollectionEntry<'projects'>;

const projects = await getCollection('projects');
const sortedProjects = projects.sort(
  (a: ProjectEntry, b: ProjectEntry) =>
    (a.data.order || 0) - (b.data.order || 0)
);
---

<section id="projects" class="py-10 px-5 md:py-14 md:px-4 text-center">
  <h2
    class="text-4xl md:text-[2rem] font-bold uppercase mb-12 text-gray-800 relative"
    data-observe="true"
    data-trigger-once="true"
  >
    Projects
  </h2>
  <div class="max-w-7xl mx-auto" id="projectsContent">
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
      {
        sortedProjects.map((project: ProjectEntry, i: number) => (
          <ProjectItem data={project.data} delay={i} />
        ))
      }
    </div>
  </div>
</section>
