.preloader {
  background-color: #ffffff;
  z-index: 9999;
}

a:hover {
  text-decoration: none;
}

svg {
  transition: all 0.3s ease-out;
  margin: 0 0.5%;
}

svg:hover {
  transform: scale(1.2);
}

.btn-icon {
  width: 1em;
  height: 1em;
}

.section-alt-row {
  background-color: #212527;
  color: whitesmoke;
}

.section-title {
  font-size: 40px;
}

.section-description {
  padding-left: 20%;
  padding-right: 20%;
  font-size: 20px;
}
